<div class="affix">
  <h3>
    Clock
    <span class="badge badge-info">{{time.min}}&nbsp;:&nbsp;{{time.sec}}</span>
  </h3>
  
    <div class="button-container">
      <button class="btn btn-danger" (click)="quit()">Quit</button>
      <button class="btn btn-primary" (click)="submitAnswers()">Submit Test</button>
    </div>
</div>

<div class="container">  
  <div class="card card-pos" *ngFor="let q of quizData; let i = index;">
    <div class="card-header">{{i+1}}.&nbsp;{{q.question}}</div>
    <div class="card-body">
      <div *ngIf="q.description" class="code-section">
        <div class="code-sub-block" innerHTML="{{formatCode(q.description)}}"></div>
      </div>
      <label class="radio-inline radio-item">
        <span class="badge badge-info">A</span>
        &nbsp;{{q.option1}}
      </label>
      <label class="radio-inline radio-item">
        <span class="badge badge-info">B</span>
        &nbsp;{{q.option2}}
      </label>
      <label class="radio-inline radio-item">
        <span class="badge badge-info">C</span>
        &nbsp;{{q.option3}}
      </label>
      <label class="radio-inline radio-item">
        <span class="badge badge-info">D</span>
        &nbsp;{{q.option4}}
      </label>
    </div>
    <div class="card-footer">
      <div class="form-group">
        <select class="form-control" [(ngModel)]='q.selected' name="answer">   
          <option value="" selected disabled>Please select your options</option>
          <option>A</option>
          <option>B</option>
          <option>C</option>
          <option>D</option>
        </select>
      </div>
    </div>
  </div>
  
</div>