.container {
    padding: 10px;
}

.card-pos {
    margin: 10px;
}

.btn-container {
    float: none;
    margin: 0 auto;
}

.btn-container button {
    margin-left: 20px;
}

.btn-container {
    margin: auto;
    display: block;
    background-color: cadetblue;
}

.radio-item {
    margin-left: 20px;
    font-size: 17px;
}

.code-section {
    background-color: darkslategrey;
    color: wheat;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.code-sub-block {
    margin: 0 auto;
    display: block;
    /* width: 150px; */
}

.button-container {
    display: block;
    margin: 0 auto;
}

.affix {
    position: fixed;
    margin: 20px;
}