<div class="container">

  <form class="form-signin">
    <h2 class="form-title">Sign in to start the test</h2>
    <input type="email" class="form-control" placeholder="Email address" required autofocus>
    <input type="password" class="form-control" placeholder="Password" required>
    
    <button routerLink='/quiz' class="btn btn-lg btn-primary btn-block" type="button">Log in</button>
    <button routerLink='/register' class="btn btn-lg btn-secondary btn-block" type="button">Register</button>
    <a class="form-hyperlink">Forgot Password</a>
  </form>

</div> <!-- /container -->
