<div class="container">

  <form class="form-signin">
    <h2 class="form-title">Sign in to start the test</h2>
    <input name="email" [(ngModel)]="user.email" type="email" class="form-control" placeholder="Email address" required autofocus>
    <input name="password" [(ngModel)]="user.password" type="password" class="form-control" placeholder="Password" required>
    
    <button (click)="loginUser()" class="btn btn-lg btn-primary btn-block" type="button">Log in</button>
    <button routerLink='/register' class="btn btn-lg btn-secondary btn-block" type="button">Register</button>
    <!-- <h5 class="form-hyperlink" routerLink='/results'>
      <span class="badge badge-primary">!!! Results !!!</span>
    </h5> -->
  </form>

</div> <!-- /container -->