.form-signin {
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
  }
  
  .form-title {
      text-align: center;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      /* font-weight: 700; */
      font-size: 18pt;
  }
  .form-signin .form-signin-heading,
  
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  
  .form-signin .checkbox {
    font-weight: normal;
  }
  
  .form-hyperlink {
      text-align: center;
      margin-top: 10pt;
      color: brown;
  }
  .form-signin .form-control {
    /* position: relative; */
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .form-signin .form-control:focus {
    z-index: 2;
  }
  
  select option[disabled]:first-child {
    display: none;
  }
  /* .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }  */