<div class="container">

  <form class="form-signin" #f="ngForm">
    <h2 class="form-title">Please Register To Attend The Test</h2>
    
    <input type="text" name="name" [(ngModel)]="user.name" name="user.name" class="form-control" placeholder="Name" required autofocus>
    <input type="text" name="rollno" [(ngModel)]="user.rollno" maxlength="3" class="form-control" placeholder="Roll Number" required>
    <input type="text" name="email" [(ngModel)]="user.email" maxlength="30" class="form-control" placeholder="E-mail" required>
    <input type="password" name="password" [(ngModel)]="user.password" class="form-control" placeholder="Password" required>
    <input type="password" name="temp" [(ngModel)]="temp" class="form-control" placeholder="Re-Enter Password" required>

    <div class="form-group">
      <select class="form-control" id="sel1" [(ngModel)]="user.year" name="year">   
        <option selected disabled>Select Your Year</option>
        <option>2</option>
        <option>3</option>
      </select>
    </div>

    <button class="btn btn-lg btn-secondary btn-block" type="button" (click)="registerUser()">Register</button>
  </form>

</div>
